@import "./variables";
@import"./mediaQuery";
@import "./mixins";

@mixin profile-mobl{
    width: 100%;
    padding-inline: $margin-mobl;
    flex-direction: column;
    margin-top: 60px;


    .profilePic{
        position: static;
        width: 100%;
        height: 30%;
        width: 100%;

        .profile-card{
            position: static;
        }
    }

    .Bio-posts{
        width: 100%;
        height: 70%;
        border: none;
        padding-inline: 5px;

        .featPost{

            .postsgrid{
                width: 350px;
                grid-template-columns: 1fr;
            }
        }
    }
}

@mixin profile-tab{
    padding-inline: $margin-mobl;
    margin-top: 90px;

    .profilePic{

        .profile-card{
            top: 7%;
        }
    }

    .Bio-posts{
        padding: 30px 20px;

        .featPost{

            .postsgrid{
                width: 510px;
                gap: 10px;
                .postCard{
                    width: 250px;
                    height: 200px;
                }
            }
        }
    }
}