@import "./mediaQuery";
@import "./mixins";
@import "./variables";

@mixin signin{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-top: 70px;

    .signInimg{
        width: 50%;
        height: auto;
        display: grid;
        place-items: center;


        .opts{
            position: fixed;
            top: 12%;

            h4{
                color: $PrimaryColor;
                text-align: center;
                margin-bottom: 30px;
            }

            p{
                text-align: center;
                margin-top: 20px;
                font-size: 16px;
                color: $PrimaryColor;

                a{
                    color: $SecondaryColor;
                    text-decoration: none;

                    &:hover{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }

            .imgs{
                width: 350px;
                height:350px;
    
                img{
                    width: 100%;
                    height: 100%;
                }
            }
    
            .opt{
                width: 400px;
                height: 45px;
                border-radius: 30px;
                background-color: $whiteColor;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                transition: 300ms ease;
    
                &:nth-of-type(3){
                    margin-top: 20px;
                }

                i{
                    font-size: 25px;
                    transition: 300ms ease;
                }

                span{
                    font-size: 18px;
                    font-weight: 500;
                    transition: 300ms ease;
                }

                &:hover{
                    background-color: $SecondaryColor;
                    cursor: pointer;

                    i{
                        color: $whiteColor;
                    }

                    span{
                        color: $whiteColor;
                    }
                }
            }
        }
    }

    .loginarea{
        width: 50%;
        height: 100%;
        display: grid;
        place-items: center;
        background-image: linear-gradient(to bottom, $backgroundColor, $backgroundColor, $backgroundColor, $backgroundColor, $backgroundColor, #c3297b76);

        .log{

            .signintxt{
                display: grid;
                place-items: center;
    
                h2{
                    color: $PrimaryColor;
                    font-size: 30px;
                    font-weight: 600;
                    margin-bottom: 20px;
                    text-transform: capitalize;
                    text-align: center;
                }
    
                p{
                    font-size: 18px;
                    font-weight: 500px;
                    color: $SecondaryColor;
                }
            }
    
            .user{
                display: grid;
                place-items: center;

                select{
                    width: 450px;
                    height: 35px;
                    margin-top: 30px;
                    // margin-bottom: 30px;
                    background: none;
                    border-bottom: 1px solid $backgroundColor-v;
                    outline: none;
                    border: none;
                    color: $backgroundColor-v;
                    font-size: 16px;
                    padding-inline: 10px;

                    option{
                        font-weight: 500;
                        font-size: 16px;
                        background-color: none;
                    }
                }
    
                input{
                    @include inputs();
                    margin-top: 10px;
                    width: 450px;
                }
    
                .check{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    width: 450px;
                    margin-top: 20px;
    
                    input[type="checkbox"]{
                        appearance: none;
                        width: 5px;
                        height: 5px;
                        border-radius: 7px;
                        border: 1.5px solid $PrimaryColor;
        
                        &:checked{
                            background-color: $SecondaryColor;
                        }
                    }
    
                    label{
                        font-size: 16px;
                        color: $backgroundColor-v;
                    }

                    >p{
                        color: $SecondaryColor;
                        font-weight: 500;
                        font-size: 16px;

                        &:hover{
                            color: $PrimaryColor;
                            cursor: pointer;
                        }
                    }
                }
    
                a{
    
                    button{
                        @include filled-button();
                        padding-inline: 200px;
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}