$PrimaryColor: #01ACEE;
$PrimaryColor-v: #0AE8F5;
$SecondaryColor: #C3297C;
$backgroundColor: #092145;
$backgroundColor-v: #5a85c5;
$backgroundColor-alt: #0e2a54;
$shadowSetting: rgba(194, 41, 122, 0.5);
$shadowSetting2: rgba(0, 170, 237, 0.5);
$whiteColor: #f0f0f0;
$blackColor: #101010;
$Gradient: linear-gradient(to top left, #01ACEE, #0AE8F5);
$Margin: 90px;
$margin-mobl: 15px;
