@import "./mediaQuery";
@import "./mixins";
@import "./variables";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

:root{
    scroll-behavior: smooth;
}

body{
    scroll-behavior: smooth;  
    background-color: $backgroundColor;

    // mobile media query
    @include mediaQuery(767px){
        overflow-x: hidden;
    }

    // @include mediaQuery(1024px, 768px){
    //     overflow-x: hidden;
    // }
}

// laptop-navbar
.laptop-navbar{
    @include laptop-navbar;

    .button-wrap{
        width: 250px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;


        a{
            
            &:nth-of-type(2){
                button{
                    @include filled-button;                
                }
            }
        }

        a{
            
            &:first-of-type{
                button{
                    @include border-button;          
                }
            }
        }

        @include mediaQuery(767px){
            display: none;
        }
    }


    @include mediaQuery(767px){
        display: block;
        @include mobile-navbar;
    }

    @include mediaQuery(1024px, 768px){
        display: block;
        @include mobile-navbar;
        justify-content: space-between;
    }
}

// mobile-navbar
.mobile-navbar{
    display: none;

    @include mediaQuery(767px){
        display: block;
        @include for-pop-out;
    }

    @include mediaQuery(1024px, 768px){
        display: block;
        @include for-pop-out;
    }
}
// hero section

.hero{
    @include hero-section;

    // mobile media query
    @include mediaQuery(767px){
        @include hero-section-mobl;
    }

    // tablet media query
    @include mediaQuery(1024px, 768px){
        @include hero-section-tab;
    }
}

// events section
.events{
    @include events-section;

    // mobile media query
    @include mediaQuery(767px){
        @include events-section-mobl;
    }
}

// pro-profiles
.pro-profiles{
    @include pro-profiles;

    // mobile media query
    @include mediaQuery(767px){
        @include pro-profiles-mobl;
    }
}

// categories
.categories{
    @include categories;

    // mobile media query
    @include mediaQuery(767px){
        @include categories-mobl;
    }

    @include mediaQuery(1024px, 768px){
        @include categories-tab;
    }
}

// trust
.Trust{
    @include trust;

    // mobile media query
    @include mediaQuery(767px){
        @include trust-mobl;
    }

    
    @include mediaQuery(1024px, 768px){
        @include trust-tab;
    }
}

// about us
.aboutUs{
    @include aboutUs;

    // mobile media query
    @include mediaQuery(767px){
        @include aboutUs-mobl;
    }

    
    @include mediaQuery(1024px, 768px){
        @include aboutUs-tab;
    }
}

// get in touch
.getinTouch{
    @include getinTouch;

    // mobile media query
    @include mediaQuery(767px){
        @include getinTouch-mobl;
    }

    
    @include mediaQuery(1024px, 768px){
        @include getinTouch-tab;
    }
}

// footer
.footer{
    @include footer;

    // mobile media query
    @include mediaQuery(767px){
        @include footer-mobl;
    }

    
    @include mediaQuery(1024px, 768px){
        @include footer-tab;
    }
}

// featured posts
.featuredposts{
    @include featured-posts;

    // mobile media query
    @include mediaQuery(767px){
        @include feature-mobl;
    }
}

// for the cmmunity page
.devs-comm{
    @include devs-comm;

    // mobile mobile query
    @include mediaQuery(767px){
        @include devs-comm-mobl;
    }

    // mobile tablet query
    @include mediaQuery(1024px, 768px){
        @include devs-comm-tab;
    }
}